/*ZD 100147 Start*/
/* Copyright (C) 2013 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 End*/
ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 10em;
	font-size: 13px;
	font-family: Arial, sans-serif;
}
ul.boxy li {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #ccc;
	background-color: #eee;
}
.clickable a {
	display: block;
	text-decoration: none;
	cursor: pointer;
	CURSOR:pointer;
}
.clickable li:hover {
	background-color: #f6f6f6;
}

.statusbox {
	font-size: 13px;
	font-family: Monaco, monospace;
	width: 15em;
}

ul.boxy li { margin: 0px; }
#chainpos li { margin: 0px; }