/*ZD 100147 Start*/
/* Copyright (C) 2013 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 End*/
table.border-table-1{
	border-collapse: collapse;
	border: 1px solid #000;
	width: 800px;
	background-color: #fff;
	text-align: center;
	margin-top: 10px;
}

table.border-table-1 td.title{
	font-size: 12px;
	font-weight: bold;
	padding: 2px 2px 2px 10px;/** t,r,b,l **/
	background-color: #7F9DBD;
	color: #000;
	text-align: left;
}

table.border-table-1 table.content{
	width: 100%;
    font-weight: bold;
    font-size: 7pt;
    text-transform: uppercase;
    color: black;
    background-color: FFFFFF;
    font-family: verdana, helvetica;
}

table.border-table-1 table.content table.innertable-1{
	border: 2px;
	width: 100%;
	margin: 8px 3px 8px 3px;
}

table.border-table-1 table.content table.innertable-1 td.celltitle{
	border-collapse: collapse;	
	border: 0px;
	padding: 2px;
	text-align: center;
	vertical-align: bottom;

    font-weight: bold;
    font-size: 7pt;
    text-transform: uppercase;
    color: black;
    background-color: FFFFFF;
    font-family: verdana, helvetica;
}

table.border-table-1 table.content table.innertable-1 td.coloredcell{
	border: 0px;
	padding: 1px;
	text-align: center;
	vertical-align: middle;

    font-weight: normal;
    font-size: 10pt;
    color: black;
    background-color: E0E0E0;
    font-family: verdana, helvetica;
}

table.border-table-1 table.content table.innertable-1 td.noncoloredcell{
	border: 0px;
	padding: 1px;
	text-align: center;
	vertical-align: middle;

    font-weight: normal;
    font-size: 10pt;
    color: black;
    background-color: FFFFFF;
    font-family: verdana, helvetica;
}

table.border-table-1 table.content table.innertable-2{
	border: 0px;
	width: 90%;
	margin: 8px 5px 8px 10px;
	text-align: center;
}

table.border-table-1 table.content table.innertable-2 td{
	border: 0px;
	text-align: right;
	vertical-align: top;
}

table.border-table-1 table.content table.innertable-2 label{
    font-weight: bold;
    font-size: 9pt;
    color: black;
    font-family: verdana, helvetica;
    text-decoration: none;
	text-align: right;
}


table.border-table-1 table.buttontable{
	border-collapse: collapse;
	border: 0px;
	margin: 5px 10px 5px 10px;
}


