/*ZD 100147 Start*/
/* Copyright (C) 2013 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 End*/
table.commtableleft {width: 900px; border: 0px; margin: 5px 5px 10px 5px; padding: 0px; text-align: left; font-weight: normal; font-size: 12pt;}
table.commtablecenter {width: 900px; border: 0px; margin: 5px 5px 10px 5px; padding: 0px; text-align: center; font-weight: normal; font-size: 12pt;}

table.commbtntable-1 {width: 600px; border: 0px; margin: 5px 5px 10px 5px; padding: 0px; text-align: center; font-weight: normal; font-size: 12pt;}
table.commbtntable-1 td {text-align: center;}

table.btmbtntable {width: 800px; border: 0px; margin: 5px 5px 5px 5px; padding: 0px; text-align: center; font-weight: normal; font-size: 10pt;}
table.btmbtntable td {text-align: center;}
