﻿/*ZD 100147 Start*/
/* Copyright (C) 2013 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 End*/

.popuptext
{
	padding-left: 10px;
	font-size: 12px;
	font-family: Georgia, 'Times New Roman' , serif;
	color: #000;
	text-align: center;
	font-weight: 100;
}
.fontdisplay
{
	font-size: small;
	color: Gray;
	font-family: Verdana;
	font-style: normal;
}
.btnstyle
{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #454445;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}
.btnstyle:hover
{
	background-color: #dfdfdf;
}
.btnstyle:active
{
	position: relative;
	top: 1px;
}
.commentBox
{
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background: white;
	display: block;
	width: 200px;
	height: 80px;
	padding: 8px;
	border: 1px solid #ccc;
	line-height: 130%;
	font-size: 13px;
	font-size: small;
	color: Gray;
	font-family: Verdana;
	font-style: normal;
}
#easyTooltip
{
	padding: 5px 10px;
	border: 1px solid #195fa4;
	background: #195fa4 url(bg.gif) repeat-x;
	color: #fff;
}
.white_content
{
	display: none;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 0%;
	height: 5%;
	padding: 6px;
	border: 1px solid orange;
	background-color: white;
	z-index: 10;
	overflow: auto;
}
#popmsg
{
	border-radius: 1em;
	border: 1px;
	min-width: 30%;
	display: inline-block;
	overflow: hidden;
}

#BandWidth
{
	border-radius: 1em;
	border: 1px;
	min-width: 30%;
	display: inline-block;
	overflow: hidden;
}

#PopupSetLayout
{
	border-radius: 1em;
	border: 1px;
	min-width: 30%;
	display: inline-block;
	overflow: hidden;
}

#PopupAddUser
{
	border-radius: 1em;
	border: 1px;
	min-width: 30%;
	display: inline-block;
	overflow: hidden;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;    
}

.Dropdowndirection
{
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background: white;
	display: block;
	width: 150px;
	padding: 8px;
	border: 1px solid #ccc;
	font-size: 10px;
	font-size: small;
	color: Gray;
	font-family: Verdana;
	font-style: normal;	
}



.BtnMonitorMCU {
FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 80pt; CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: black 1px outset; FONT-FAMILY: Arial; HEIGHT: 16pt; BACKGROUND-COLOR: #A7958B; BORDER-WIDTH: 0px 1px 0px 1px; BORDER-COLOR: Transparent; BORDER-STYLE: dotted; BACKGROUND-IMAGE:  url(../../image/shade.png); background-position: bottom;
}

.lblMessage {
BACKGROUND-COLOR: Transparent; COLOR:#006400; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING: 2px 1px 2px 1px; BORDER: inherit
}