/*ZD 100147 Start*/
/* Copyright (C) 2013 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 End*/
input.prompt
{
	border: 1 solid transparent; 
	background-color: #99ccff;
	width: 70;
	font-family: arial;
	font-size: 12; 
	color: black;
} 

input.prompt1
{
	border: 1 solid transparent; 
	background-color: blue;
	width: 150;
	font-family: arial;
	font-size: 12; 
	color: white;
	FONT-WEIGHT: bold;
} 

input.longprompt
{
	border: 1 solid transparent; 
	background-color: #99ccff;
	width: 120;
	font-family: arial;
	font-size: 12; 
	color: black;
} 

td.titlebar 
{ 
	background-color: #FF9F40; 
	color: #0000D2; 
	font-weight: bold;
	font-family: arial; 
	font-size: 12;
} 

table.promptbox 
{
	border: 1 solid #ccccff; 
	background-color: #FFFFE6; 
	color: black;
	padding-left: 2;
	padding-right: 2;
	padding-bottom: 2;
	font-family: arial; 
	font-size: 12;
}


div.scroll {
	height: 150;
	width: 100%;
	overflow: auto;
	color: blue;
	border: 0px solid #666;
	padding: 8px;
	white-space: nowrap;
}

div.seltxt {
   color:#005;
   height: 20px;
   font-family:'trebuchet ms',helvetica,sans-serif;
   border:0px;
}
div.seltxthov{
   color:#050;
   height: 20px;
   cursor:hand;
   font-family:'trebuchet ms',helvetica,sans-serif;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
	background-color:#cec;
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffaaddaa');
} 


table.promptbox tr.normal { background-color: #FFFFE6; }
table.promptbox tr.normal td { font-size: 8pt; font-weight: bold; color: black; }
table.promptbox tr.highlight { background-color: darkblue; }
table.promptbox tr.highlight td { font-size: 8pt; font-weight: bold; color: white; cursor: hand;}

input.promptbox 
{
	border: 1 solid #0000FF; 
	background-color: white;
	width: 100%;
	font-family: arial;
	font-size: 12; 
	color: black; 
}

.fieldname
{
    FONT-SIZE: 9pt;
 	FONT-WEIGHT: bold;
	COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}

.filename
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}

.succdonetxt
{
	color: green; 
	font-weight: bold; 
	font-style: italic;
	font-size: 12;
}

.faildonetxt
{
	color: red; 
	font-weight: bold; 
	font-style: italic;
	font-size: 12;
}