<!--ZD 100147 Start-->
<!--/* Copyright (C) 2013 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/-->
<!--ZD 100147 End-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<title>myVRM : Session has expired</title>
</head>

<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" marginheight="0" marginwidth="0" bgcolor="" background="">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top">
      <td background="image/Lobbytop.jpg" width="100%" height="72">
      </td>
    </tr>
  </table>


<center>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="20%" valign="top" align="right">
	  <br><br><br><br><br><br><br><br>
      <img src="<%=Application("companyLogo")%>" width="122" height="44">
    </td>

    <td width="80%">
      <br><br><br>
		  <table width="100%" cellpadding="6"><tr><td>
			  
			  
<!--------------------------------- CONTENT GOES HERE --------------->


<body>

<p><font size="4" color="#808080">
myVRM session has expired due to inactivity. <br>
Please click </font>
<a href="genlogin.asp"><font size="4" color="#666699">here</font></a>
<font size="4" color="#808080"> to re-login.
</font></p>

<!-------------------------------------------------------------------->

            <!-------->
          </td>
        </tr>
      </table>
  
    </td>
  </tr>
</table>

</center>

</body>
</html>
