﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="en_NewRepeatOps" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>New Repeatops</title>
    <script type="text/javascript" src="script/wincheck.js"></script> <%--FB 3055--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input type="hidden" id="hdnPath" runat="server" value="c:\\vrmschemas_V1.8.3"/>
        <input type="hidden" id="hdnThrds" runat="server" value="100"/>
    </div>
    </form>
</body>
</html>
