﻿<%--ZD 100147 start--%>
<%--/* Copyright (C) 2013 myVRM - All Rights Reserved	
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.		
*
* You should have received a copy of the myVRM license with	
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/--%><%--ZD 100147 End--%>					
<%@ Page Language="C#" AutoEventWireup="true"%>

<%--FB 2779 Starts--%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<!-- #INCLUDE FILE="inc/maintop3.aspx" -->
<%--FB 2779 Ends--%>

<script type="text/javascript" src="script/wincheck.js"></script> <%--FB 3055-URL--%>
<script language="JavaScript" type="text/javascript">
function ShowForm()
{
	if (document.frmReserveOption.radio1[0].checked){
		window.location = "bridge_reservation_form.pdf";
	}
		
	if (document.frmReserveOption.radio1[1].checked){
		document.frmReserveOption.submit();
	}

}
</script>

	  <table width="100%" border="0" cellpadding="0" cellspacing="0">
	    <tr valign="top">
	      <td background="image/vrmtop.gif" width="100%" height="72">
	      </td>
	    </tr>
	  </table>


	<center>

	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	  <tr valign="top">
	    <td width="20%" valign="top" align="right">
		  <br><br><br><br><br><br><br><br>
	      <img src="<% =Application["company_logo"].ToString() %>">
	    </td>

	    <td width="80%">
	      <br><br><br>
			  <table width="100%" cellpadding="6"><tr><td>
	<P>&nbsp;</P>
	<center>
	<form name="frmReserveOption" method="POST" action="dispatcher/gendispatcher.asp">
	<TABLE WIDTH=400 BORDER=0 CELLSPACING=1 CELLPADDING=1>
		<TR>
			<TD colspan=3 align="center">
			Please Choose one of the methods from the following<br>
			to reserve the Bridge:
			</TD>

		</TR>
		<TR><TD>&nbsp;</TD></TR>
		<TR>
			<TD align=right><INPUT type="radio" name=radio1 value="fax"></TD>
			<TD width=1%></TD>
			<TD>By Fax</TD>
		</TR>
		<TR>
			<TD align=right><INPUT type="radio" name=radio1 value="online"></TD>
			<TD width=1%></TD>
			<TD>On Line</TD>
		</TR>
		<TR><TD>&nbsp;</TD></TR>
		<TR>
			<TD colspan=3 align="center">
			<input type="hidden" name="cmd" value="GetHome">
			<input type="hidden" name="reserve" value="0">
			<INPUT type="button" value="Submit" name=go class="altShortBlueButtonFormat" onclick="javascript:ShowForm()">
			</TD>

		</TR>
	</TABLE>
	</form>
	          </td>
	        </tr>
	      </table>
	  
	    </td>
	  </tr>
	</table>
	</center>

<script language="JavaScript" type="text/javascript">
<!--

	document.body.style.background = "";
	document.body.style.margin = "0px";
	document.body.style.bgcolor = "#fff7e7";

//-->
</script>

	</BODY>
	</HTML>
